.code,
.livecode {
  background-color: #142444;
}

code {
    max-height: 500px;
    max-width: 1000px;
    overflow: auto;
}
.livecode input {
  background: #142444;
  border: none;
  border-bottom: 2px solid #000000;
  color: #FFF;
  width: 80px;
}

.livecode input:focus {
  outline: none;
}

.livecode .hello .result {
  color: #F80;
}

.to-the-resque .content {
  width: 550px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
}

.long :not(pre) > code[class*="language-"],
.long pre[class*="language-"] {
  width: 900px;
}

.line-highlight {
  background: rgba(216, 223, 65, 0.13);
}

pre[data-line] {
  padding: inherit;
}

.link a {
  display: inline-block;
  margin-top: 1em;
  font-size: 2em;
}

/* ---- backgrounds ---- */
article.start::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  background-image: url("http://openresty.org/images/logo.png");
}

article.developer::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  filter: blur(0.5px) grayscale(0.3) brightness(0.2);
  background-image: url("img/developer.png");
  background-position: top;
}

article.to-the-resque::before {
  -webkit-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  filter: blur(0.5px) grayscale(0.3) brightness(0.4);
  background-image: url("img/to-the-resque.gif");
  background-position: top;
}

article.steamclock::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.4);
  filter: blur(1px) grayscale(0.3) brightness(0.4);
  background-image: url("img/intensity.jpg");
}

article.notcool::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.1);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.1);
  filter: blur(1px) grayscale(0.3) brightness(0.1);
  background-image: url("img/notcool.jpg");
}

article.notcool-gif::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("img/notcool.gif");
  background-size: 92% 100%;
}


article.bat-signal::before {
  -webkit-filter: blur(1px) grayscale(0.3) brightness(0.4);
  -moz-filter: blur(1px) grayscale(0.3) brightness(0.4);
  filter: blur(1px) grayscale(0.3) brightness(0.4);
  background-image: url("img/Bat-Signal.jpg");
}

article.notcool-joey::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("img/joey.gif");
}

article.bowling::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("img/bowling.gif");
}

article.the-end::before {
  -webkit-filter: grayscale(0) brightness(1);
  -moz-filter: grayscale(0) brightness(1);
  filter: grayscale(0) brightness(1);
  background-image: url("img/ironman.gif");
}

article.programming::before {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
  background-size: contain;
  background-color: #111111;
  background-image: url("https://media.giphy.com/media/pkm7IoQepmkeI/giphy.gif");
}

article.programming {
  background-color: white;
  opacity: 0.95;
}
article.simple .content {
    color:#fff;
}


article.blown, article.blown2, article.intermission {
    color:#000;
}




article.intermission::before {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-size: contain;
    background-color: #111111;
    background-image: url("http://www.reactiongifs.com/r/gfyd.gif");
}


article.blown::before {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-size: contain;
    background-color: #111111;
    background-image: url("http://i3.kym-cdn.com/photos/images/newsfeed/000/288/648/776.gif");
}


article.blown2::before {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-size: contain;
    background-color: #111111;
    background-image: url("https://media.giphy.com/media/fAykJdJ6SYSYw/giphy.gif");

}

article.simple::before {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
    background-size: contain;
    background-color: #111111;
    background-image: url("");
}

article.simple {
    background-color: white;
    opacity: 0.95;
}
